<h2 style="text-align:center" class="mt-1">Participantes 2020</h2>

<div class="mt-1">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="andreD"></div>
            <mat-card-title class="titulo">André Diniz</mat-card-title>
            <mat-card-subtitle>Time: Burnley</mat-card-subtitle>
            <mat-card-subtitle>Idade: 26 anos</mat-card-subtitle>
            <mat-card-subtitle style="margin-bottom: 0px;">Ano de entrada: 2015 (Fundador)</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="andre"></div>
            <mat-card-title class="titulo">André Felipe</mat-card-title>
            <mat-card-subtitle>Time: New Castle</mat-card-subtitle>
            <mat-card-subtitle>Idade: 27 anos</mat-card-subtitle>
            <mat-card-subtitle>Ano de entrada: 2015 (Fundador)</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="carlos"></div>
            <mat-card-title class="titulo">Carlos Lara</mat-card-title>
            <mat-card-subtitle>Time: Brighton</mat-card-subtitle>
            <mat-card-subtitle>Idade: 24 anos</mat-card-subtitle>
            <mat-card-subtitle>Ano de entrada: 2018</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="danilo"></div>
            <mat-card-title class="titulo">Danilo</mat-card-title>
            <mat-card-subtitle>Time: Watford</mat-card-subtitle>
            <mat-card-subtitle>Idade: 24 anos</mat-card-subtitle>
            <mat-card-subtitle>Ano de entrada: 2020</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="dodo"></div>
            <mat-card-title class="titulo">Douglas Coelho</mat-card-title>
            <mat-card-subtitle>Time: Chelsea</mat-card-subtitle>
            <mat-card-subtitle>Idade: 27 anos</mat-card-subtitle>
            <mat-card-subtitle >Ano de entrada: 2015 (Fundador)</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="estevao"></div>
            <mat-card-title class="titulo">Estevão Araújo</mat-card-title>
            <mat-card-subtitle>Time: West Ham</mat-card-subtitle>
            <mat-card-subtitle>Idade: 26 anos</mat-card-subtitle>
            <mat-card-subtitle >Ano de entrada: 2017</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="fabinho"></div>
            <mat-card-title class="titulo">Fábio Tadeu</mat-card-title>
            <mat-card-subtitle>Time: Crystal Palace</mat-card-subtitle>
            <mat-card-subtitle>Idade: 26 anos</mat-card-subtitle>
            <mat-card-subtitle >Ano de entrada: 2015 (Fundador)</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="irno"></div>
            <mat-card-title class="titulo">Irno Graff</mat-card-title>
            <mat-card-subtitle>Time: Man. City</mat-card-subtitle>
            <mat-card-subtitle>Idade: 29 anos</mat-card-subtitle>
            <mat-card-subtitle >Ano de entrada: 2015 (Fundador)</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="joao"></div>
            <mat-card-title class="titulo">João Comini</mat-card-title>
            <mat-card-subtitle>Time: Leicester</mat-card-subtitle>
            <mat-card-subtitle>Idade: 28 anos</mat-card-subtitle>
            <mat-card-subtitle >Ano de entrada: 2015 (Fundador)</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="jonny"></div>
            <mat-card-title class="titulo">Jonny Galvão</mat-card-title>
            <mat-card-subtitle>Time: Sheffield United</mat-card-subtitle>
            <mat-card-subtitle>Idade: 27 anos</mat-card-subtitle>
            <mat-card-subtitle >Ano de entrada: 2020</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="lucas"></div>
            <mat-card-title class="titulo">Lucas</mat-card-title>
            <mat-card-subtitle>Time: Wolverhampton</mat-card-subtitle>
            <mat-card-subtitle>Idade: 28 anos</mat-card-subtitle>
            <mat-card-subtitle >Ano de entrada: 2019</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="max"></div>
            <mat-card-title class="titulo">Maxwell</mat-card-title>
            <mat-card-subtitle>Time: Man. United</mat-card-subtitle>
            <mat-card-subtitle>Idade: 29 anos</mat-card-subtitle>
            <mat-card-subtitle >Ano de entrada: 2016</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="thales"></div>
            <mat-card-title class="titulo">Nelmar</mat-card-title>
            <mat-card-subtitle>Time: Aston Villa</mat-card-subtitle>
            <mat-card-subtitle>Idade: 28 Anos</mat-card-subtitle>
            <mat-card-subtitle>Ano de entrada: 2020</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="thales"></div>
            <mat-card-title class="titulo">Thales</mat-card-title>
            <mat-card-subtitle>Time: Everton</mat-card-subtitle>
            <mat-card-subtitle>Idade: 28 Anos</mat-card-subtitle>
            <mat-card-subtitle>Ano de entrada: 2018</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2">
        <mat-card-header>
            <div mat-card-avatar class="sandi"></div>
            <mat-card-title class="titulo">Thiago Sandi</mat-card-title>
            <mat-card-subtitle>Time: Liverpool</mat-card-subtitle>
            <mat-card-subtitle>Idade: 29 Anos</mat-card-subtitle>
            <mat-card-subtitle>Ano de entrada: 2016</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-2 mb-2">
        <mat-card-header>
            <div mat-card-avatar class="wilk"></div>
            <mat-card-title class="titulo">Wilkerman Jr</mat-card-title>
            <mat-card-subtitle>Time: Tottenham</mat-card-subtitle>
            <mat-card-subtitle>Idade: 25 Anos</mat-card-subtitle>
            <mat-card-subtitle>Ano de entrada: 2019</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>

<h2 style="text-align:center" class="mt-4">Ex - Participantes</h2>

<div class="mt-1">
    <mat-card class="mt-2 mb-2">
        <mat-card-header>
            <div mat-card-avatar class="matheus"></div>
            <mat-card-title class="titulo">Brutão</mat-card-title>
            <mat-card-subtitle>Time: Arsenal</mat-card-subtitle>
            <mat-card-subtitle>Idade: 22 anos</mat-card-subtitle>
            <mat-card-subtitle>Ano de entrada: 2015 (fundador)</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>