.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #1c1c1c;
}

img {
  width: 45px;
  height: 80px;
  display: block;
}

.mat-nav-list a.active {
  background: blue;
}

.logo {
  color: #eed202;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 36px;
  margin-left: 20px;
  text-align: center;
}

.icones_lista {
  color: #fafa20;
  margin-right: 5px;
  font-size: 22px;
}

.classificacao {
  font-size: 18px;
  color: #fafa20;
}

.toggle {
  color: white;
  font-size: 25px;
  display: inline-block;
}

.classificacao:active {
  background-color: blue;
}

.mat-toolbar {
  background-color: #363636;
  padding-left: 0;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
