<mat-card style="margin: 10px">
    <h2 style="text-align:center" class="mt-1">Regulamento do 6º Troféu Cão Amigo</h2>

    <div style="margin-top: 35px;">
        <p><b>I. Introdução</b></p>
        <p>Com o objetivo de dar uma apimentada em nossas vidas, motivar encontros com os amigos, troca de
            conhecimentos, network, situações engraçadas, aguçamento estratégico e jogabilístico, bem como, juntar
            brasfoot, cartola e FIFA em um jogo só, é proposto um novo e irreverente modelo de campeonatinho entre os
            amigos.
        </p>

        <p><b>II. Da Implantação da competição</b></p>
        <p>Em uma das duas seguintes datas: 29/02 ou 14/03/2020 haverá um encontro de todos os participantes do torneio,
            para efeitos de montagem das equipes. Cada jogador, em sistema de rodízio, efetuará 18 contratações de
            jogadores, sendo obrigatório manter dois goleiros no elenco. Será escolhido da seguinte forma:<br>
            1: 84/85<br>
            2: 82/83<br>
            10: 80/81<br>
            5: 79 para baixo.<br>
            <br>A partir de então, será realizada uma simulação do futebol e do mercado na vida real, onde haverá
            janela de
            contratações, trocas entre os jogadores, precificação dos atletas, prêmios em Cruzeiro BoBo (dinheiro
            virtual, que é escolhido pelo último campeão em uma forma carinhosa de homenagem), e muita diversão! Todos
            os tópicos e o que é importante saber sobre a competição serão explicados neste regulamento.
        </p>
        <p><b>III. Da Formação das Equipes</b></p>
        <p>
            É fortemente recomendado que, todos os participantes levem uma lista de diversos jogadores para cada
            posição, caso contrário, vai demorar horrores.<br><br> Quem não comparecer, deverá escolher seu time depois
            do dia
            das escolhas, sendo que, terá uma data limite para mandar o time, senão está eliminado. Quem mandar primeiro
            tem preferência na escolha. A ordem de escolha será sorteada na hora, sendo que o último sorteado, escolhe
            dois jogadores.<br><br>
            A escolha será feita de forma livre, você pode escolher seus 18 jogadores com a posição e overall a sua
            escolha, sem ordem.<br><br>
            Definiremos a ordem dos participantes, e faremos no esquema, “sobe e desce” (primeiro/último -
            último/primeiro).
        </p>
        <p><b>IV. Dos Critérios de Pontuação e Desempate</b></p>
        <p>
            A pontuação do ranking será realizada da seguinte maneira:<br>
            O valor total da premiação para o primeiro colocado será de 4 milhões na Série A e 3 milhões na Série B, por
            participante no geral.
        </p>
        <p>
            A Série A será composta sempre por 8 equipes, sendo rebaixados os dois piores times da primeira fase, caso
            todos compareçam.
            Os participantes da Série A que faltarem na edição, serão automaticamente rebaixados para a próxima disputa
            da Série B, não podendo ser substituídos por equipes da Série B na data da falta.<br><br>
            Caso haja mais de 1 falta, não ocorrerá o rebaixamento dos presentes da Série A.
            Se houver 3 ou mais faltas na Série A, o mesmo número de times da B subirá para o próximo campeonato.
        </p>
        <p>
            São necessários no mínimo 5 participantes de cada divisão para que ocorram os dois campeonatos no mesmo dia.
            Caso haja 4 ou menos equipes presentes de uma das Séries, será realizado um campeonato com a distribuição de
            pontos da Série A.
        </p>
        <p>
            Situação hipotética de comparecimento de todos os participantes:<br><br>

            <i>Campeão: 100% do prêmio em Cruzeiros BoBos<br>
                Vice: 80% do prêmio de Cruzeiros BoBos<br>
                3º lugar: 70% do prêmio do de Cruzeiros BoBos<br>
                4º lugar: 65% do prêmio de Cruzeiros BoBos<br>
                5° ou pior: 55%
            </i>
        </p>
        <p>
            <i>Artilheiro: 10% da premiação total.<br>
                Assistência: 5% da premiação total.<br>
                Man of the match 5% da premiação total.
            </i>
        </p>
        <p><b>V. Dos Critérios de Pontuação e Desempate</b></p>
    </div>

</mat-card>