<div class="bg"></div>

<div class="container-fluid mt-3">
    <mat-card class="mt-3">
        <mat-card-header class="card-container">
            <mat-card-title>O Campeonato</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Com o objetivo de dar uma apimentada em nossas vidas,
                motivar encontros com os amigos, troca de conhecimentos, network, situações engraçadas,
                aguçamento estratégico e jogabilístico, bem como, juntar brasfoot, cartola e FIFA em um jogo só,
                é proposto um novo e irreverente modelo de campeonatinho entre os amigos.
            </p>
        </mat-card-content>
    </mat-card>

    <img src="../../assets/home/trofeis.jpg" class="trofeus" alt="Troféus">

    <mat-card class="mt-1">
        <mat-card-header class="card-container">
            <mat-card-title>Campeões</mat-card-title>
            <mat-card-subtitle class="veja">Veja os campeões das ultimas edições</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="andre"></div>
                    <mat-card-title class="titulo">André Felipe</mat-card-title>
                    <mat-card-subtitle class="subtitulo">Campeão 2015</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="mt-2">
                <mat-card-header>
                    <div mat-card-avatar class="dodo"></div>
                    <mat-card-title>Douglas Coelho</mat-card-title>
                    <mat-card-subtitle>Campeão 2016</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="mt-2">
                <mat-card-header>
                    <div mat-card-avatar class="sandi"></div>
                    <mat-card-title>Thiago Sandi</mat-card-title>
                    <mat-card-subtitle>Campeão 2017</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="mt-2">
                <mat-card-header>
                    <div mat-card-avatar class="estevao"></div>
                    <mat-card-title>Estevão Araújo</mat-card-title>
                    <mat-card-subtitle>Campeão 2018</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="mt-2">
                <mat-card-header>
                    <div mat-card-avatar class="sandi"></div>
                    <mat-card-title>Thiago Sandi</mat-card-title>
                    <mat-card-subtitle>Campeão 2019</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>